* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for center alignment */
.container {
    width: 100%;
    max-width: 400px;
}

/* Form container styles */
.form-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Heading style */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Input field styles */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Button style */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #8C6DCF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #CDC1FF;
}

/* Link to switch between forms */
.switch-form {
    margin-top: 15px;
    font-size: 14px;
}

.switch-form a {
    color: #8C6DCF;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

.google-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #8C6DCF;
    background-color: transparent ;
    text-color: white;
    border: 2px solid #8C6DCF;
    border-radius: 4px;
    margin-top: 5px;
    padding: 10px 20px ;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
    transition: background-color 0.3s ease;
}

.google-button img {
    margin-right: 8px;
    height: 24px;
    width: 24px;
}

.google-button:hover {
    background-color: #8C6DCF;
    color: white;
}